{
  "env": {
    "test": {
      "presets": ["lag"]
    },
    "cjs": {
      "presets": [["lag", { "loose": true }]]
    },
    "es": {
      "presets": [["lag", { "loose": true, "modules": false }]]
    }
  }
}